body {
  font-family: "Montserrat", sans-serif;
  overflow-y: hidden;
  margin: 0;
}

h1 {
  font-weight: 600;
  line-height: 1;
  margin: 0;
  font-size: 28px;
}
h2 {

}
.main-text{
  font-size: 14px;
}
.sub-text{

}

.offer-form-field{
  background-color: transparent;
  border: solid 1px #ffffffb7;
}

